@use './index.scss' as v;

/* 页面宽度小于768px
------------------------------- */
@media screen and (max-width: v.$sm) {
  .home-card-one {
    .home-card-item {
      padding: 10px;

      .home-card-item-term {
        width: 50px !important;
      }
    }
  }

  .home-card-three {
    .setting {
      height: auto !important;
    }
  }
}

/* 页面宽度小于1200px
------------------------------- */
@media screen and (max-width: v.$lg) and (min-width: v.$sm) {
  .home-card-one {
    .home-card-item {
      padding: 15px;

      .home-card-item-term {
        width: 70px !important;
      }
    }
  }

  .home-card-three {
    .setting {
      height: auto !important;
    }

    .system_title {
      font-size: 14px !important;
    }
  }
}
